@import "tailwindcss";
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
	--color-primary: #5bc0be;
	--color-primary-foreground: #ffffff;
	--color-accent: #3a506b;
	--color-accent-foreground: #ffffff;
	--color-foreground: #0b132b;
	--color-muted-foreground: #1c2541;
	--color-background: #f4f4f4;

	--font-arvo: "Arvo", serif;
	--font-nunito: "Nunito", sans-serif;
}
